.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

/* 前景和背景 */
.highlight, .highlight .w {
  color: #586e75 ;
  background-color: #FAFAFA;
}
/* 注释的颜色 */
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  /* color: #657b83; */
  /* color: #666680; */
  color: #85858e;
}