@font-face {
    font-family: bradleyFont;
    src: url("../fonts/bradley.ttf") format("TrueType");
}

@font-face {
    font-family: palluyFont;
    src: url("../fonts/palluy.otf") format("OpenType")
}

@font-face {
    font-family: Lxgw;
    src: url("../fonts/jinkai.ttf") format("TrueType");
}

@font-face {
    font-family: optima; 
    src: url("../fonts/optima.ttf") format("TrueType");
}

@font-face {
    font-family: futura;
    src: url("../fonts/futura.otf") format("OpenType");
}

@font-face {
    font-family: din;
    src: url("../fonts/din.ttf") format("TrueType");
}

@font-face {
    font-family: adelle;
    src: url("../fonts/Adelle-Regular.ttf") format("TrueType");
}

@font-face {
    font-family: josefin;
    src: url("../fonts/josefin.ttf") format("TrueType");
}