html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFF;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: josefin, Lxgw;
}

.content-area {
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
    width: 70%;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}


@media screen and (max-width: 1000px) {
    .content-area {
        width: 90%;
    }
}

.section-number-1,
.section-number-2,
.section-number-3,
.section-number-4,
.section-number-5,
.section-number-6 {
  display: none;
}

/* 标题颜色 */
h1, h2, h3, h4 {
    color: #5f6aa0
}

h2 {
    font-size: 25px;
}


a {
    /* color: #337799; */
    /* color: #7345c9af; */
    color: #aa7799;
    text-decoration: none;
}
p {
    font-family: josefin, Lxgw;
    line-height: 28px;
    font-size: 20px;
    /* 信纸效果 */
    background-image: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 26px,
        #d8d8d8 27px
    );
    background-size: 100% 27px;
}


.from {
    font-family: josefin, Lxgw;
    font-weight: bold;
    font-size: 25px;
    color: #5f6aa0
}

.verse {
    /* background-color: #f4f1ff; */
    color: #745996;
    margin: 7px 0px;
    border-radius: 7px;
}

.title {
    color: #333;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
}

.content {
    line-height: 28px;
    font-size: 20px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

p img {
    display: block;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #AAA;
    width: 100%;
}

#archives {
    position: fixed;
    right: 100px;
    top: 100px;
}

.char-counter {
    display: flex;
    justify-content: center;
    color: #AAA;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}

blockquote {
    margin: 0;
}
